@charset "UTF-8";	


a{text-decoration: none; color: black; cursor:pointer;}
.nav-area {
	width: 100%;
	background-color: rgb(67, 63, 71);
	color: white;
	border: 1px solid white;
	height:50px;
	text-align: center;
	border-collapse: collapse;
}
.nav-area td{
	width:25%;
	font-size:18px;
	font-weight: bold;
}
.nav-area td:hover{
	background-color: rgb(196, 196, 196);
	color:black;
	cursor:pointer;
}
.main-img img {
            width: 100%;
            transition: opacity 1s ease-in-out;  /* 페이드 전환 */
            opacity: 1;
        }
        .fade-out {
            opacity: 0;
        }
.enroll-form{
	text-align: center;
}
